<div class="w-full py-2 px-5 animate-fade-in">
  <div class="bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-bl flex flex-col items-center rounded-lg px-5 py-2 text-sm">
    <p class=" font-jakartaSansBold py-2 text-white text-md">Great you made a deal!</p>
    <p class=" py-2 text-white font-jakartaSansRegular text-[0.9em] text-center w-[80%] mb-3">You can now contact kevin through call or text to discuss more about the job need to be done</p>
    <div class=" bg-white rounded-lg p-2 shadow-lg">
      <img src="/assets/imgs/handshake.gif" class="h-[5em] w-[5em]" alt="">
    </div>
    <div class="flex flex-col py-5 text-center">
      <p class="text-white">Kevin's Contact No.</p>
      <div class="flex gap-3">
        <p class="text-white font-jakartaSansBold">09123456789</p>
        <img title="copy to clipboard" src="/assets/imgs/svg/clipboard.svg" class="h-[1.2em] cursor-pointer hover:opacity-60" alt="">
      </div>
    </div>
  </div>
</div>

<div class="w-full mt-3 flex justify-center items-center animate-fade-in">
  <p class=" text-[0.8em] text-gray-600">This conversation will now be ended.</p>
</div>
