<div *ngIf="!pageLoading" class="w-full xl:px-[18vw] lg:px-[6em] md:px-[5em] border-b-2">
  <!-- <app-navbar (navigate)="scroll($event)"></app-navbar> -->
  <div id="basic-info" class="w-full flex flex-col items-center justify-start pt-[1em] z-10">
     <app-profile-basic [profile]="activeProfile"></app-profile-basic>
  </div>
  <app-recommended title="Kuan Delos Santos Gigs"></app-recommended>
  <app-review-ratings></app-review-ratings>
  <app-comments></app-comments>
</div>
<app-loader *ngIf="pageLoading"></app-loader>

