<div   *ngIf="type === 'dark'" [class]="slide" class=" cursor-pointer hover:mt-[-2rem] transition-all flex text-white flex-col justify-end  w-full h-[25em] rounded-xl shadow-lg">
  <div class="backdrop-opacity-10 bg-black/40 rounded-bl-xl rounded-br-xl px-4 py-4">
    <p class="text-sm">{{desc}}</p>
    <h3 class="text-xl font-jakartaSansBold">{{title}}</h3>
  </div>
</div>

<div  (click)="navigateTo(5)" *ngIf="type === 'light'" class=" cursor-pointer hover:mt-[-1rem] transition-all flex text-white flex-col justify-start w-full h-[20em]  shadow-lg">
  <div  [class]="slide" class="h-full"></div>
  <div class="backdrop-opacity-10 bg-white  text-black px-4 py-4">
    <h3 class="text-sm font-jakartaSansBold">{{title}}</h3>
    <p class="text-[0.7em]">{{desc}}</p>
    <div class="flex gap-2 items-center justify-start mt-1 border-b-2 pb-2">
      <app-stars [noOfStar]="1"></app-stars>
      <p class=" text-[0.7em] text-yellow-300">4.9</p>
      <span class=" text-[0.7em] text-gray-400"> (12 Reviews)</span>
    </div>
    <div class="w-full pt-2 flex justify-between items-center">
      <fa-icon  [icon]="faBarsStaggered" size="sm" class=" text-gray-300"></fa-icon>
      <div class="flex flex-col items-end">
        <p class=" text-[0.5em]">STARTING AT</p>
        <p class=" text-xl font-jakartaSansBold text-black">₱2,000</p>
      </div>
    </div>
  </div>
</div>
