<div class="profile-dp flex gap-3 py-5" [class]="styling">
  <img src="/assets/imgs/dp.jpg" class="rounded-full"  [class]="imageSize" alt="">
  <div class="flex flex-col justify-center">
    <p class=" font-jakartaSansSemiBold text-[0.8em] text-black">Kuan Dela Cruz</p>
    <p class=" text-gray-500 text-[0.7em] text-gray mt-[-5px]">kuandc@gmail.com</p>
    <div class="flex gap-1 mt-[-2px] items-center">
      <p class=" text-yellow-300">
        <fa-icon [icon]="faStar" size="xs"></fa-icon>
      </p>
      <p class=" text-yellow-300">
        <fa-icon [icon]="faStar" size="xs"></fa-icon>
      </p>
      <p class=" text-yellow-300">
        <fa-icon [icon]="faStar" size="xs"></fa-icon>
      </p>
      <p class=" text-yellow-300">
        <fa-icon [icon]="faStar" size="xs"></fa-icon>
      </p>
      <p class=" text-yellow-300">
        <fa-icon [icon]="faStarHalfStroke" size="xs"></fa-icon>
      </p>
      <p class="text-[0.7em] text-black font-jakartaSansBold">4.9</p>
      <p class="text-[0.7em] text-gray-400">(32 Reviews)</p>
    </div>
    <div class="flex gap-1 mt-[10px] items-center" *ngIf="hasContact">
      <button type="button" class="py-2 px-3 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Contact Me</button>
    </div>
  </div>
</div>
