
<div class="w-full grid grid-cols-6 gap-10">
  <div class="flex col-span-2 flex-col w-full bg-white shadow-lg p-6 rounded-lg">
    <p class="text-lg mb-5 font-jakartaSansBold ">Basic Information</p>
    <div class="w-full basic-details flex justify-between text-sm">
      <div class="flex gap-1">
        <fa-icon [icon]="faLocation" size="xs"></fa-icon>
        From
      </div>
      <p class=" font-jakartaSansBold text-black">Quezon City, PH</p>
    </div>
    <div class="w-full basic-details flex justify-between text-sm">
      <div class="flex gap-1">
        <fa-icon [icon]="faUser" size="xs"></fa-icon>
        Member Since.
      </div>
      <p class=" font-jakartaSansBold text-black">Sept 2022</p>
    </div>
    <div class="w-full basic-details flex justify-between text-sm">
      <div class="flex gap-1">
        <fa-icon [icon]="faClock" size="xs"></fa-icon>
        Ave. Response Time
      </div>
      <p class=" font-jakartaSansBold text-black">2 hours</p>
    </div>
    <div class="w-full basic-details flex justify-between text-sm border-b-2 pb-7">
      <div class="flex gap-1">
        <fa-icon [icon]="faArrowRightToCity" size="xs"></fa-icon>
        Last Service
      </div>
      <p class=" font-jakartaSansBold text-black">5 days ago</p>
    </div>
    <div class="w-full text-sm py-6">
      <p>I'm Juan dela Cruz, a Freelance Carpenter and with years of experience. I am willing to give you the best service I can here on Gawa PH. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque proin lectus consectetur in ornare tellus tortor fermentum ipsum. At sit feugiat amet nam iaculis. Libero mattis posuere faucibus ac. Semper sem aliquam, malesuada venenatis mi imperdiet eu</p>
    </div>
    <div class="w-full text-sm">
      <button type="button" class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Read More</button>
    </div>
  </div>
  <div class="col-span-4 flex gap-2">
    <div class="w-full bg-white shadow-lg">
      <ul class="hidden text-sm font-medium text-center text-gray-500  divide-x divide-gray-200 shadow sm:flex dark:divide-gray-700 dark:text-gray-400">
          <li class="w-full">
              <a href="#" class="inline-block p-6 w-full text-gray-900 bg-gray-100  focus:ring-4 focus:ring-blue-300 active focus:outline-none focus:border-b-4 focus:border-blue-900 dark:bg-gray-700 dark:text-white" aria-current="page">Basic</a>
          </li>
          <li class="w-full">
              <a href="#" class="inline-block p-6 w-full bg-white hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700">Standard</a>
          </li>
          <li class="w-full">
              <a href="#" class="inline-block p-6 w-full bg-white hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700">Premium</a>
          </li>
      </ul>
      <div class="w-full p-10">
        <h1 class=" text-lg font-jakartaSansBold">₱2,000</h1>
        <p class=" text-sm space-y-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque proin lectus consectetur in ornare tellus tortor fermentum ipsum. At sit feugiat amet nam iaculis. Libero mattis posuere faucibus ac. Semper sem aliquam, malesuada venenatis mi imperdiet eu.</p>
        <ul class="mb-8 space-y-2 text-left text-sm text-gray-500 dark:text-gray-400 mt-8">
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>Individual configuration</span>
            </li>
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>No setup, or hidden fees</span>
            </li>
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>Team size: <span class="font-semibold text-gray-900 dark:text-white">1 developer</span></span>
            </li>
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>Premium support: <span class="font-semibold text-gray-900 dark:text-white">6 months</span></span>
            </li>
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>Free updates: <span class="font-semibold text-gray-900 dark:text-white">6 months</span></span>
            </li>
        </ul>
        <div class="w-full text-sm">
          <button type="button" class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Continue
            <fa-icon [icon]="faArrowRightLong" class="ml-3" size="lg"></fa-icon>
          </button>
          <button type="button" class="w-full py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Read More
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

