<div id="recommentdations" class="w-full flex flex-col justify-center items-start my-[4em] p-7 bg-gray-200">
  <div class="w-full flex justify-between items-center">
    <h2 class=" text-[1.2em] font-jakartaSansBold">{{title}}</h2>
    <a href="#" class="text-blue-800 hover:mr-2 transition-all">See All</a>
  </div>
  <div class="grid grid-cols-5 gap-5 w-full mt-10">
    <app-image-card type="light" [slide]="'slide1'" [title]="'Plumber'" [desc]="'Lorem ipsum dolor sir amet'"></app-image-card>
    <app-image-card type="light" [slide]="'slide2'" [title]="'Carpenter'" [desc]="'Lorem ipsum dolor sir amet'"></app-image-card>
    <app-image-card type="light" [slide]="'slide3'" [title]="'Disc Jockey (DJ)'" [desc]="'Lorem ipsum dolor sir amet'"></app-image-card>
    <app-image-card type="light" [slide]="'slide4'" [title]="'Room Cleaning'" [desc]="'Lorem ipsum dolor sir amet'"></app-image-card>
    <app-image-card type="light" [slide]="'slide5'" [title]="'Nail Artist'" [desc]="'Lorem ipsum dolor sir amet'"></app-image-card>
  </div>
</div>
